body {
 background: #ccc
}
p{
  text-align:center;
}
em{
  color: #ff0000
}
#baner{width:100%
}
h1{
  text-aling:center
}
h2{
  text-aling: center;
  front-size: 60px;
}
.itens{
   font-style:italic
}
.benificios{
  background:#ffffff;
  padding: 20%;

}
ul{
  text-aling:inline-block;
    width: 20%;
  margin-rigth: 15%;
  vertical-aling: top;
  front-size: 40px;
}
.imagembeneficios{
  width:50%;
    border-radius: 35px;
}
header{
  text-aling:center;
    backgrond-color: #ffffff; 
  
}
header ul li{
  display:inline-block;
  text-decoration: none;
  padding: 10px;
  front-size: 20px;
}
header ul{
  width:100%;
}
header ul li a{
  color: #000;
  text-decoration: none;
}
.produtos h2{
  width:94px;
  margin:0 auto;
}
.produtos li{
  display: inline-block;
  text-aling: center;
  width: 30%;

}
.cabelo{
width:10%;
    border-radius: 35px;
}

.produtos h2{
  front: size 30px;
  front-weight:bold;
}

.produtos li img{
  width: 100%;
  height: 200px;
}

