body {
 background: #ccc
}
p{
  text-align:center;
}
em{
  color: #ff0000
}
#baner{width:100%
}
h1{
  text-align:center
}
h2{
  text-align: center;
  font-size: 60px;
}
.itens{
   font-style:italic
}
.benificios{
  background:#ffffff;
  padding: 20%;

}
ul{
  text-align:inline-block;
 
  margin-rigth: 15%;
  vertical-align: top;
  font-size: 40px;
}
.imagembeneficios{
  width:50%;
    border-radius: 35px;
}
header{
  text-align:center;
    backgrond-color: #ffffff; 
  
}
header ul li{
  display:inline-block;
  text-decoration: none;
  padding: 10px;
  font-size: 20px;
}
header ul{
  width:100%;
}
header ul li a{
  color: #000;
  text-decoration: none;
}
.produtos h2{
  width:94px;
  margin:0 auto;
}
.produtos li{
  display: inline-block;
  text-align: center;
  width: 30%;

}
.cabelo{
width:10%;
    border-radius: 35px;
}

.produtos h2{
  font: size 30px;
  font-weight:bold;
}

.produtos li img{
  width: 100%;
  height: 200px;
}
form label {
  display: block;
}
form{
  text-align: center;
}
form label{
  width: 400px;
  margin: 0 auto
}
form input{
  width: 100%;
  padding: 10px 0;
}

